.container
    padding: 20px
    flex: 2
    border-right: 7px solid var(--bg-primary)
.name
    margin-bottom: 40px
    text-transform: uppercase
    text-align: center
    background: rgba(0,0,0,0.2)
    border-radius: 30px
    padding: 15px
.list
    display: grid
    grid-template-columns: repeat(auto-fill, 200px)
    align-items: center
    justify-content: center
    grid-gap: 20px 40px