.container
    display: flex
    align-items: center
    background: var(--bg-secondary)
    padding: 10px
    border-radius: 15px
    border: 5px solid var(--bg-secondary)
    margin: 20px
    background: var(--d)
    overflow: hidden
    min-width: 200px
    transition: 0.3s
    // position: relative
    order: 0
.icon
    width: 4em
.content
    margin-left: 20px

.hide
    width: 0
    padding: 0
    border: 0
    margin: 0