.container
    min-width: 250px
    overflow: auto
    background: #fff
.name
    text-transform: uppercase
    background: rgba(0,0,0,0.4)
    padding: 15px
    position: sticky
    top: 0
    left: 0
.list
    display: flex
    justify-content: flex-start



@media (min-width: 768px)
    .container
        overflow: initial
    .list
        position: relative
        --offsetX: 0px
        transform: translateX(var(--offsetX))
        // animation: move 60s infinite linear
        transition: 3s
        &:hover
            animation-play-state: paused

@keyframes move
    0%
        transform: translateX(0)
    50%
        transform: translateX(-100%)
    100%
        transform: translateX(0)

.speedUp
    animation-duration: 15s

.hide
    transform: translateX(-220px)!important
    margin-right: -220px!important
    // min-width: 0!important
    // padding: 0!important
    // border: 0!important
    // margin: 0!important