.container
    min-width: 250px
    overflow: auto
    background: #fff
.name
    text-transform: uppercase
    background: rgba(0,0,0,0.4)
    padding: 15px
    position: sticky
    top: 0
    left: 0
.list
    display: flex
    justify-content: flex-start