@import url('https://fonts.googleapis.com/css?family=Press+Start+2P')

.container
    display: flex
    align-items: center
    width: 100%
    justify-content: center
    height: 100vh
.text
    font-size: 1.2em
    font-family: "LeagueSpartan"
    overflow: hidden
    margin: 20px
    min-width: 300px
    h1
        font-size: 1.4em
        margin-bottom: 40px

@media (min-width: 438px)
    .text
        font-size: 2em