@import url('https://fonts.googleapis.com/css?family=Press+Start+2P')

.container
    display: flex
    align-items: center
    width: 100%
    margin: 0 20px
    justify-content: center
.text
    font-size: 1.2em
    font-family: "LeagueSpartan"
    overflow: hidden
    h1
        font-size: 1.4em
        margin-bottom: 40px

@media (min-width: 438px)
    .text
        font-size: 2em