.container
    width: 100%
    display: flex
    flex-flow: row wrap
    justify-content: center
    align-items: center
    position: relative
    &:before
        content: ""
        height: 100%
        width: 100%
        z-index: -1
        position: absolute
        background: url("/images/myImage.png") no-repeat
        background-position: bottom
        background-position: -524px bottom
        background-size: auto 100%
        filter: opacity(40%)
    
.info, .form
    margin: 20px
.info
    display: flex
    flex-flow: column
    max-width: 500px
    width: 100%
.title
    font-size: 3em
    margin-bottom: 30px
.text
    margin-bottom: 30px
.direct
    margin-top: auto
    font-size: 0.7em
.email
    font-weight: 900
    color: green
.form
    display: grid
    grid-gap: 20px
    max-width: 400px
    width: 100%
    input, textarea
        color: black
        padding: 10px
        background: var(--bg-secondary)
        border: 5px solid var(--bg-primary)
        &::placeholder
            text-transform: uppercase
.submit
    background: green
    padding: 15px
    font-size: 1.2em
    font-weight: 900
    text-transform: uppercase

.image
    width: 30%